html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

nav {
  position: fixed;
  top: 0;
  height: 69px;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid seashell;
}

img {
  float: left;
  width: 300px;
  height: 200px;
}

.logo {
  float: left;
  padding-top: 10px;
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.navagation {
  float: right;
  display: flex;
  margin-right: 20px;
  flex-direction: row;
}

.navagation li {
  padding-right: 35px;
  text-decoration: underline;
  color: seashell;
  text-decoration: none;
}

.welcome {
  background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.herotext {
  background-color: black;
  width: 1200px;
  text-align: center;
}

.top-text {
  position: center;
  margin-top: 50px;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.product-grid {
  padding-left: 500px;
  padding-right: 500px;
}

.product{
  display: flex;
  justify-content: space-evenly;
  padding: 200px;

}

.grid {
  background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 600px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.locations-title h2{
  color: black;
  text-align: center;
}

.location {
  background-color: black;
  width: 300px;
  height: 290px;
  text-align: center;
}

.copyright {
  text-align: left;
  margin-left: 20px;
  font-size: small;
  padding-bottom: 20px;
}


