body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin-top: 69px;
}

nav {
  position: fixed;
  top: 0;
  height: 69px;
  background-color: black;
  width: 100%;
}

.logo {
  float: left;
  width: 120px;
  height: 50px;
}

.navagation {
  float: right;
  display: flex;
  margin-right: 20px;
  
}

.background {
  width: 1200px;
  height: 700px;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

img {
  width: 90%;
  height: 700px;
}
