html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin-top: 69px;
}

nav {
  position: fixed;
  top: 0;
  height: 69px;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid seashell;
}

.logo {
  float: left;
  padding-top: 10px;
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.navagation {
  float: right;
  display: flex;
  margin-right: 20px;
  flex-direction: row;
}

.navagation li {
  padding-right: 35px;
  text-decoration: underline;
  color: seashell;
}

.background {
  width: 100%;
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.top-text {
  background-color: black;
  position:absolute; top: 100; left: 100;
  z-index: 1;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.product-grid{
  display: flex;
  justify-content: center;
  padding: 300px 200px;
  flex: auto;
  flex-direction: row;
}

.product-grid img{
    width: 300px;
    height: 200px;
  }

  .product-grid p{
    align-self: center;
  }

.locations-background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 100%;
}

.downtown, .east-bayside, .oakdale {
  width: 300px;
  display: inline-block;
}

.copyright {
  text-align: left;
  margin-left: 20px;
  font-size: small;
  padding-bottom: 20px;
}


